<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h2>Contact</h2>
                <ul class="navbar">
                    <li><a href="home">Home</a></li>
                    <li><a href="projects">Projects</a></li>
                </ul>
            </div>
            <div id="container">
                <h1>Contact Info</h1>
                <div id="thankyou-message">
                    <p>Thank you for visiting my website!</p> 
                    <p>For any comments or questions , please leave your messages below. I will contact with you as soon as possible.</p>
                    <p>Thank you !</p>
                </div>
                <form>
                    <label for="name">Name: </label>
                    <input type="text" placeholder="Type your name"/>
                    <label for="email">Email: </label>
                    <input type="text" placeholder="Type your email"/>
                    <p>Message:</p> 
                    <textarea name="comment" placeholder="messages" rows="4" cols="50"></textarea></label>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>

    </body>
</html>