<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h2>Home</h2>
                <ul class="navbar">
                    <li><a href="projects">Projects</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>

            <div id="container">
                <h1>Mengqi Li</h1>
                <img id="image" src="~/img/myself.jpg">
                <div id="description">
                    <h2 id="title">About Me</h2>
                    <p>Hello, my name is Mengqi Li. I'm an online student of the Coding Dojo Web Development bootcamp. I'm currently learning how to use C# and ASP.NET Core to build stylish websites. </p>
                </div>
            </div>

        </div>
    </body>
</html>